/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, footer, section {
  display: block;
  position: relative;
}

/* STYLES */
body {
    font-family: Helvetical, Arial, Sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #333;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #eb8c28;
    font-weight: bold;
    line-height: 1.1;
    margin: 1.1em 0 .5em;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 130%;
}

#doc {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    display: list-item;
}

.header {
    display: block;
    padding: 0;
    max-width: 1200px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdbd9), color-stop(100%, #f6f5f3));
    border-top: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0 0 6px 6px;
}

.header .title {
    display: block;
    margin: 0;
    padding: 30px 0 30px 30px;
    color: navy;
    font-family: Helvetical, Arial, Sans-serif;
    font-weight: bold;
    font-size: 200%;
}

#bd {
    display: block;
    margin: 30px 0;
}

.grid-left {
    display: inline-block;
    width: 75%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.grid-right {
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.article {
    margin: 0 20px;
}

.article-title {
    display: block;
    padding: 0 0 10px 0;
    color: #30418c;
}

.article-date {
    display: block;
    margin: 5px 0 5px 0;
    padding: 0;
    text-align: right;
}

.article-author {
    display: block;
    margin: 5px 0 5px 0;
    padding: 0;
    text-align: right;
    font-style: italic;
}

.toc {
    right: 10px;
    margin: 0 10px;
    border: solid #d4d8eb 1px;
    border-radius: 3px;
}

.toc .hd {
    display: block;
    padding: 4px 7px 5px;
    font-size: 105%;
    font-weight: bold;
    background-color: #e5e6f1;
}

.toc .bd {
    display: block;
    margin: 0;
    padding: 10px 8px 10px;
    background-color: #f9f9fc;
    border-radius: 3px;
}

.toc ul, .toc ol {
    padding-left: 14px;
}

.toc li, .toc li li {
    color: #d4d5e3;
    list-style-type: disc;
}

.toc li {
    font-weight: bold;
}

.toc li li {
    font-weight: normal;
}

.footer {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
    border: 1px solid #dfddda;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f5f3), color-stop(100%, #dcdbd9));
    text-align: left;
    bottom: 0;
}

.footer .copyright {
    display: block;
    padding: 14px 21px;
}