/* STYLES */
#header {
    display: block;
    margin: 0;
    padding: 40px 50px;
    background-color: #333;
}

#title {
    display: block;
    margin: 0;
    color: #eeeeee;
    font-family: Helvetical, Arial, Sans-serif;
    font-weight: bold;
}

#title > a, #title > a:visited {
    color: inherit;
}

/*
 * Navigation
 */
#nav {
    display: block;
    margin: 0;
    padding: 10px 50px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #8c8c8c;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    position: relative;
}

#menus-wrap {
    display: block;
    list-style: none;
    overflow: hidden;
}

.menu {
    display: block;
    padding: 0;
    border-left: 1px solid #b0b0b0;
    float: left;
    list-style: none;
}

.menu.first {
    border-left: none;
}

.menu > a {
    padding: 0 1em;
    border-left: 1px solid #dedede;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #6b6b6b;
    text-shadow: #ebebeb 0 1px;
}

.menu a:hover {
    color: #333;
}

.menu.first > a {
    border-left: none;
}

#main {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bfbfbf;
    background-color: #eee;
}

.col-wrapper {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.col-1-4, .col-3-4 {
    display: block;
    float: left;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}

#content-wrapper {
    background-color: #f8f8f8;
}

#content {
    padding: 20px 50px;
}

#tags-wrapper {
    display: block;
    padding-left: 20px;
}

#sidebar {
    background-color: #eee;
}

.tag-wrapper {
    display: block;
    margin: 0 0 0 20px;
}

.tag-list {
    display: block;
    list-style: none;
    padding: 0;
}

.tag-item {
    display: list-item;
}

.thetag {
    display: inline-block;
    margin: 5px 0;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #999;
    font-size: 90%;
}

.thetag > a {
    color: white;
}

.thetag > a:hover {
    background-color: #777;
}

#article {
    margin: 0;
    overflow: hidden;
}

.index-title {
    display: block;
    color: #30418c;
    font-weight: bold;
    line-height: 1.1;
}

.meta {
    display: block;
    margin: 0 0 10px;
    padding: 0 0 5px;;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    vertical-align: baseline;
}

.grid {
    display: block;
    list-style-type: none;
    overflow: hidden;
}

.grid > li {
    display: block;
    margin-right: 5px;
    float: left;
}

.grid > li:last-of-type {
    margin-right: 0;
}

.grid > li.right {
    float: right;
}

.meta-date {
    display: inline-block;
    font-style: italic;
    float: right;
}

#toc-wrapper {
    display: block;
    margin: 0 0 1em 1em;
    padding: .5em 1em;
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: .5em;
    float: right;
}

.toc-header {
    font-weight: bold;
    font-size: 125%;
}

/*
 * Table of Contents
 */
.toc ul {
    padding-left: 14px;
}

.toc li, .toc li li {
    color: #d4d5e3;
    list-style-type: disc;
}

.toc li {
    font-weight: bold;
}

.toc li li {
    font-weight: normal;
}

.is-invisible {
    display: none !important;
}

.footer-previous {
    float: left;
}

.footer-next {
    float: right;
}

#pager {
    display: block;
    position: relative;
    margin: 10px 0;
}

#prev {
    display: inline-block;
    float: left;
    text-align: left;
}

#next {
    display: block;
    float: right;
    text-align: right;
}

#footer {
    display: block;
    margin: 0;
    margin-bottom: 50px;
    padding: 15px 50px;
    border-top: 1px solid #f2f2f2;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    background-image: -webkit-linear-gradient(top, rgb(224, 224, 224),
                                              rgb(204, 204, 204), rgb(176, 176, 176));
    text-align: left;
    color: #888;
    text-shadow: #d9d9d9 0 1px;
    font-size: .8em;
    clear: both;
}

.footer .copyright {
    display: block;
    margin: 0;
    padding: 14px 21px;
}

.pagination {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
    border: 1px solid #dadada;
    position: relative;
}

.pagination-left {
    display: block;
    width: 25%;
    margin: 0;
    position: relative;
    float: left;
}

.pagination-previous {
    display: inline-block;
    padding: 3px 7px;
    border-right: 1px solid #dadada;
    text-align: center;
}

.pagination-middle {
    display: block;
    width: 50%;
    margin: 0;
    text-align: center;
    position: relative;
    float: left;
}

.pagination-page_number {
    display: inline-block;
    margin: auto;
    padding: 3px 0;
    text-align: center;
}

.pagination-right {
    display: block;
    width: 25%;
    text-align: right;
    position: relative;
    float: left;
}

.pagination-next {
    display: inline-block;
    padding: 3px 7px;
    border-left: 1px solid #dadada;
    text-align: right;
}