---
layout: default
---

<article class="article">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <div class="meta">
      {% for tag in page.tags %}
      <span class="thetag"><a href="/tags/{{ tag }}" title='Posts tagged"{{ tag }}"'>{{ tag }}</a></span>
      {% endfor %}
      <span class="meta-date">{{ page.date|date: "%Y-%m-%d" }}</span>
    </div>
  </header>
  <div id="toc-wrapper" class="invisible">
    <div class="toc-header">Table of Contents</div>
    <div id="toc">
    </div>
  </div>
  <div id="article-content" class="content">
    {{ content }}
  </div>
  <footer class="footer">
    {% if page.previous %}
    <div class="previous">
      <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">«{{ page.previous.title }}</a>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="next">
      <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">{{ page.next.title }}»</a>
    </div>
    {% endif %}
  </footer>
</article>
