---
layout: default
---

<article id="article">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <div class="meta grid">
      {% for tag in page.tags %}
      <li class="thetag"><a href="/tags/{{ tag }}" title='Posts tagged"{{ tag }}"'>{{ tag }}</a></li>
      {% endfor %}
      <li class="meta-date right">{{ page.date|date: "%Y-%m-%d" }}</li>
    </div>
  </header>
  <div id="toc-wrapper" class="is-invisible">
    <div class="toc-header">Table of Contents</div>
    <div id="toc">
    </div>
  </div>
  <div id="article-content" class="content">
    {{ content }}
  </div>
  <footer class="footer">
    {% if page.previous %}
    <div class="footer-previous">
      <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">«{{ page.previous.title }}</a>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="footer-next">
      <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">{{ page.next.title }}»</a>
    </div>
    {% endif %}
  </footer>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'judewang'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
