---
layout: default
---

<div class="row">
  <div class="span8 offset2">
    <h1>{{ page.title }}</h1>
	<h5>
      <strong>{{ page.date | date: "%B %e, %Y" }}</strong>
      {% if page.tags.size > 0 %}
      <span class="pull-right">
        <i class="icon-tags"></i>
        {% for tag in page.tags %}
          <span class="label label-info">{{ tag }}</span>
        {% endfor %}
      </span>
      {% endif %}
    </h5>
    <hr>
    <div class="article">
      {{ content }}
    </div>
    <hr>
    <ul class="pager">
      {% if page.previous %}
      <li class="previous">
        <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">
          «{{ page.previous.title }}
        </a>
      </li>
      {% endif %}
      {% if page.next %}
      <li class="next">
        <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">{{ page.next.title }}»</a>
      </li>
      {% endif %}
    </ul>
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
  </div>
</div>
